// mixins, functions, and main page styles

///////////////
// VARIABLES //
///////////////
$base__font-size: 16 !default;
$text__family--base: 'Proxima Nova', sans-serif;
$font--color: #666C70;
$font__head-color: #363B3E;
$font__body-color: #9BA0A3;
$highlight-color: #1F8EED;
$border--color: #C9CDCF;
$shadow: rgba(0, 0, 0, 0.1);


///////////////
// FUNCTIONS //
///////////////

// convert px to em
@function em ($px, $base: 16) {
  @return ($px / $base) * 1em;
}

////////////////
//   MIXINS   //
////////////////

// text mixin
@mixin text($size, $line, $weight: normal, $family: $text__family--base, $margin: 0) {
  font-size: em($size);
  line-height: ($line/$size);
  font-family: $family;
  font-weight: $weight;
  margin-bottom: em($margin, $size);
}

// handles webkit, moz, etc.
@mixin shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// border radius quick fix
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

// breakpoint mixin
@mixin break($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: 40em) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (max-width: 64em) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: 90em) {
      @content;
    }
  }
}

// placeholder text mixin
@mixin place-style($color) {
  input::-webkit-input-placeholder {
    color: $color;
  }
  input::-moz-placeholder {
    color: $color;
  }
  input:-moz-placeholder {   /* Older versions of Firefox */
    color: $color;
  }
  input:-ms-input-placeholder {
    color: $color;
  }
}

// scaleable rating mixin!
@mixin rating($width, $star-size, $margin) {
  &--full {
    background-image: url("../../assets/images/icons/star-fill.svg");
    width: $width;
    height: $star-size;
    margin: -($star-size) 0 $margin 0;
    display: block;
  }
  &--empty {
    background-image: url("../../assets/images/icons/star-empty.svg");
    width: $width;
    height: $star-size;
  }
  &--4 {
    width: 80%;
  }
}
