  // navbar module
  .nav {
    width: 100%;
    min-height: 54px;
    text-align: center;
    vertical-align: middle;
    @include shadow(0px, 1px, 0px, $shadow);
    @include text(18, 54, 600);
    padding: 0 42px 0 42px;
    margin-bottom: 1px;
    z-index:2;

    &__link {
      display: inline;

      &.left {
        font-weight: normal;
      }
    }
  }

  .nav__icon--back {
    margin: -2px 10px 0 0;
  }

  .nav__icon--mobile img {
    height: 25px;
    display: inline-block;
  }

  // filter items
  .filter__item {
    border: 1px solid $border--color;
    padding: 10px 20px 10px 20px;
    text-align: left;
    width: 200px;
    height: 40px;
    position: relative;
    .icon {
      position: absolute;
      top: 16.5px;
      right: 20px;
    }
  }

  // search addon for the filter module
  .search {
    background: url("../../assets/images/icons/search.svg") no-repeat 10%;
    padding-left: 40px;
  }
  @include place-style($font--color);


  ///////////////
  // CAROUSELS //
  ///////////////


  // 3 item, 2 item, 1 item carousel
  // featured carousel
  .featured {
    .carousel {
      height: 100%;
      position: relative;
      width: 100%;

      &__item img {
        width: 100%;
        height: 100%;
      }

      /* the slides */
      .slick-slide {
        margin: 0 5px;
      }
      /* the parent */
      .slick-list {
        margin: 0 -5px;
      }
    }
    .prev, .next {
      position: relative;
      bottom: 55px;
      z-index: 1;
    }

    .next {
      right: 10px;
    }

    .prev {
      left: 10px;
    }
  }


  // 1 item carousel
  .preview {
    .carousel__container {
      width: 60%;
      height: 100%;
      z-index: 0;
      margin: 0 !important;
    }

    .carousel--single {
      height:90%;
      width: 100%;

      .slick-track, .slick-slider, .slick-list {
        height: 100% !important;
        width: 100%;

      }
    }
    .carousel__item--single {
      height: 100% !important;
      img {
        height: 100%;
        width: 100%;
      }
    }

    // arrow styles
    .prev {
      left: -20px;
    }
    .next {
      right: -20px;
    }
    
    .prev, .next {
      position: absolute;
      top: 40%;
      z-index: 3;
    }
    .arrows {
      width:100%;
      position:relative;
      top: -55%;
      left: 0;
    }

    .slick-dots {
      margin-top: -10px;
    }
  }


  // Universal carousel attributes
  .slick-arrow {
    @include shadow(0px, 2px, 4px, rgba(0, 0, 0, 0.5));
    border-radius: 25px;
    width: 36px;
    height: 36px;
  }

  .slick-track, .slick-slider, .slick-slide {
    padding: 0;
    margin: 0;
  }




  // Cards
  .apps__title {
    display: inline-block !important;
    margin-bottom: 25px;
  }
  .apps__card {
    display: inline-block;
    background-color: white;
    width: 204px;
    height: 259px;
    padding: 20px;
    font-size: em(14);
    line-height: 20px;
    color: $font__body-color;
    border: 1px solid $border--color;
    @include border-radius(2px);
    white-space: normal;
    vertical-align: top;
    margin: 0 10px 0 0;

    h2 {
      font-weight: 600;
      font-size: 1em;
      display: block;
      color: $font-_head-color;
    }

    h3 {
      font-size: em(14, 14);
      font-weight: 600;
      position: absolute;
      bottom: 0;
    }

    &:hover, &:active, &:focus {
      @include shadow(0, 2px, 10px, $shadow);
      border-color: #7AC1FF;
    }
  }

  .apps__arrow--more {
    position: absolute;
    right: 40px;
    line-height: 22px;

   img {
     -webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5) );
     filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5) );
    }
  }

  // EXPANDED CARD
  .apps__card--expanded {
    position: relative;
    height: 490px;
    width: 342px;
    color: $font--body-color;
    padding: 40px 40px 0 40px;

    h1 {
      font-size: em(28);
    }
    h2 {
      color: $font__body-color;
      font-weight: normal;
      display: inline-block;
      margin-right: 20px;
    }
    .rating {
      display: inline-block;
      line-height: 1em;
    }

    .rating__amount {
      color: $border--color;
    }

    .button--primary {
      margin: 20px 0 20px 0;
    }

    table {
      position: absolute;
      border-bottom: $border--color;
      bottom: 0;
      width: 88.5%;
    }

    th {
      @include text(16, 50, 600);
      color: $font__head-color;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid $border--color;
      height: 49px;
      .icon {
        margin-right: 20px;
        width: 20px;
      }
    }
    
    .sidebar__table--last {
      border-bottom: none;
    }

  }

  // BIG PRETTY BLUE BUTTON
  .button--primary {
    width: 164px;
    height: 44px;
    background-color: $highlight-color;
    color: white;
    border: none;
    @include border-radius(22px);
  }

  //rating system
  .rating {
    width: 95px;
    @include rating(95px, 12px, 10px);
  }

  .large-rating {
    width: 140px;
    @include rating(140px, 18px, 40px);
  }



// REVIEW {
  .review {
    h1 {
      margin-bottom: 10px;
    }

    .rating, span.author {
      display: inline-block;
      line-height: em(16);
    }
    span.author {
      color: $font__body-color;
    }

    p {
      margin: em(10) 0 em(40) 0;
    }
  }