html {
  font-size: $base__font-size * 1px;
  color: $font--color;
}

html a {
  text-decoration: none;
  color: $font--color;
}

body {
  font-size: em(16);
  font-family: "Proxima Nova", sans-serif;
  line-height: (16/$base__font-size);
}

.highlight, .highlight a {
  color: $highlight-color !important;
}

.icon {
  vertical-align: middle;
}

h1 {
  font-size: em(18);
  line-height: 22px;
  font-weight: normal;
  color: $font__head-color;
  margin: 0;
}

.apps h1 {
  display: block;
}

.about {
  @include text(16, 26);
  h1 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  a {
    display: block;
    font-weight: 600;
    margin: 20px 0 60px 0;
  }
}