.nav {
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 1px #000000;
  -moz-box-shadow: 0px 1px #000000;
  box-shadow: 0px 1px #000000;
}

.nav__left {
  float: left;
  display: inline;
}

.nav__right {
  float: right;
  display: inline;
}
